body {
  min-height: 300px;
  padding-top: 70px;
}

h1 { margin-left: 200px; }

.tresc { margin-top: 80px; padding-bottom: 30px; }

@media all and (max-width: 767px) {
  .nav li {
    background-color: #eee;
  }
}