{% extends "pizza/base.html" %}
{% block title %}Mały Bar{% endblock %}

{% block content_title %}Mały Bar{% endblock %}

{% block content %}
    {% if not user.is_authenticated %}
        <h2>{{ komunikat }}</h2>
        <div class="btn-group">
            <span><a href="{% url 'auth_login' %}" class="btn btn-primary btn-sm">Zaloguj się</a></span> lub
            <span><a href="{% url 'registration_register' %}" class="btn btn-primary btn-sm">Załóż konto</a></span>
        </div>
    {% else %}
        <h2>Witaj w aplikacji Pizza, {{ user.username | upper }}!</h2>
        <h3>Operacje:</h3>
        <div class="btn-group">
            <span><a href="{% url 'pizza:dodaj' %}" class="btn btn-primary btn-sm">Dodaj pizzę</a></span>
            <span><a href="{% url 'pizza:lista' %}" class="btn btn-primary btn-sm">Lista pizz</a></span>
        </div>
    {% endif %}
{% endblock %}
