{% extends "pizza/base.html" %}
{% block title %}Mały Bar – Pizza{% endblock %}

{% block content_title %}
    Usuń pizzę
{% endblock %}

{% block content %}

    <form method="POST">
        {% csrf_token %}
        <p>Czy na pewno chcesz usunąć pizzę:<br />"{{ object }}"?</p>
        {{ skladniki.as_p }}
        <button type="submit" class="btn btn-warning">Usuń</button>
    </form>
    <hr>
    <p><a href="{% url 'pizza:index' %}" class="btn btn-success btn-md">Strona główna</a></p>

{% endblock %}
