{% extends "pizza/base.html" %}
{% block title %}Mały Bar – Pizza{% endblock %}

{% block content_title %}
    Usuwanie pizzy
{% endblock %}

{% block content %}

    <form action="." method="post">
        {% csrf_token %}
        <p>Czy na pewno chcesz usunąć pizzę:<br />"{{ object }}"?</p>
        <ol>Składniki:
        {% for s in skladniki %}
          <li>{{ s.nazwa }}</li>
        {% endfor %}
        </ol>
        <button type="submit" class="btn btn-warning">Usuń</button>
    </form>
    <hr>
    <p><a href="{% url 'pizza:index' %}" class="btn btn-success btn-md">Strona główna</a></p>

{% endblock %}
